.container{ng: {controller: "PlayersController"} }
	%h1 {{ heading }}

	%h1 Teams
	.team-logos
		.team-logo{style: "display: inline;", ng: {repeat: "team in teams"}}
			%img{src: "https://s3.amazonaws.com/angularjs-nfl/{{team.name}}.gif"}

	%input{ng: {model: "abbr"} }
	%button{ng: {click: "fetchRoster()"}} Fetch Roster

	%table
		%thead
			%th Team
			%th Jersey
			%th Name
			%th Position
			%th Height - Weight
			%th Age - Experience
			%th College

		%tbody
			%tr{ng: {repeat: "player in players"} }
				%td {{ player.team | uppercase }}
				%td {{ player.jersey_number }}
				%td {{ player.firstname | titleize }} {{ player.lastname |titleize }}
				%td {{ player.position | uppercase }}
				%td {{ player.height }} - {{ player.weight }}
				%td {{ player.age }} - {{ player.experience }}
				%td {{ player.college | titleize }}
